@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    head {
        margin: 0;
        padding: 0;
    }

    body, html, #__nuxt{
        @apply h-screen m-0 p-0 overflow-hidden w-full;
        background-color: #130f40;
        background-image: linear-gradient(315deg, #0f0c33 0%, #000000 64%);
    }

    .content {
        @apply px-20 pt-10 flex w-full grow mt-20 flex-col overflow-auto
    }

    .navItem {
        @apply cursor-pointer hover:text-indigo-500
    }

    .selectedItem {
        @apply text-indigo-500 underline font-bold
    }

    .button {
        @apply bg-blue-900 border-2 border-blue-600 rounded-xl min-h-16 min-w-32 active:bg-indigo-500 active:text-indigo-200 hover:border-indigo-400 hover:text-indigo-300
    }
}